.heading-secondary {
    margin: 1.5rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: #326ea6;
    letter-spacing: .2rem;
    transition: all .2;
}

.py {
    padding-top: 1.5rem !important;
    padding-bottom:  1.5rem !important;
}

