.post {

    &__left {
        border: 1px solid red;
        height: 100vh;
    }

    &__middle {
        border: 1px solid red;
        height: 100vh;
    }

    &__right {
        border: 1px solid red;
        height: 100vh;
    }
}